<!-- <input #titleDisplay type=" text" [value]="row.rowStory.storyTitle"
    style="display: block; width: 100%; background-color: transparent; border: none;"
    [ngStyle]="{'display': titleInput.style.display == 'none' ? 'block' : 'none'}"
    (focus)="titleDisplay.style.display='none'; titleInput.style.display='block'; titleInput.focus()"> -->

<div [ngStyle]="{'display': titleInput.style.display == 'none' ? 'block' : 'none'}"
    style="width: 100%; height: auto; cursor: text;"
    (click)="titleInput.style.display='none'; titleInput.style.display='block'; titleInput.focus()">
    <span #titleDisplay style="display: block; background-color: transparent; border:none; ">
        {{row.rowStory.storyTitle
        ? row.rowStory.storyTitle : "&nbsp;"}}
    </span>
</div>

<input appOnEnterKey appOnEscKey #titleInput previousValue="{{titleInput.value}}" type=" text"
    [(ngModel)]="row.rowStory.storyTitle"
    style="width: 100%; display: none; background-color: #ffefc0; border:none; border-radius: 4px; padding: 0;"
    (blur)="row.rowStory.storyTitle=titleInput.value; titleInput.style.display='none'; titleDisplay.style.display='block';titleInput.setSelectionRange(titleInput.value.length, titleInput.value.length);"
    (focus)="row.rowStory.storyTitle" (dblclick)="titleInput.select()">