<div class="px-5" style="overflow-x: auto">
    <div class="row mt-2 mb-1">
        <div class="col-md-8">
            <!-- <h5>5pm News Wed Jul 22 2022</h5> -->
            <h5>{{rundown.rundownTitle}} {{is24}}</h5>
        </div>
        <div class="col-md-4" style="text-align: right;">
            <span class="ms-1">
                <app-date></app-date>
            </span>
            <span class="ms-1">
                <app-clock (getIs24Hour)="is24=change24Hour($event)"></app-clock>
            </span>
        </div>
    </div>
    <table class="table table-sm table-striped table-bordered table-rundown">
        <thead class="bg-primary text-white">
            <tr>
                <th scope="col" style="width: 30px"></th>
                <th scope="col" style="width: 30px">
                    <div class="dropdown dropend">
                        <div class="dropdown-toggle p-0 text-white text-center" data-bs-toggle="dropdown">
                        </div>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item">Link 1</a></li>
                            <li><a class="dropdown-item">Link 2</a></li>
                            <li><a class="dropdown-item">Link 3</a></li>
                        </ul>
                    </div>
                </th>
                <th scope="col" style="max-width: 30px" [class]="'checked-secondary'">
                    <input #allRowCheck class=" form-check-input" type="checkbox">
                </th>
                <th scope=" col" style="max-width: 55px">Page</th>
                <th scope="col" style="width: 300px">Slug</th>
                <th scope="col" style="width: 120px">Segment</th>
                <th scope="col" style="width: 75px">Est</th>
                <th scope="col" style="width: 100px">ID</th>
                <th scope="col" style="width: 300px">Graphics</th>
                <th scope="col" style="min-width: 75px">Front</th>
                <th scope="col" style="min-width: 75px">Back</th>
                <!-- Anchor, Camera, Source, Notes, Actual Time, Writer, Modified Time, Modified By -->
            </tr>
        </thead>
        <tbody>
            <ng-template ngFor let-row let-i="index" [ngForOf]="rundownRows">
                <!-- <tr #tableRow [style]="row.rowType==='BREAK' ? 'background-color: #a0cdff;' : ''"> -->
                <tr #tableRow [class]="row.rowType==='BREAK' ? 'bg-primary text-white break-font' : ''">
                    <!-- move icon cell -->
                    <td #moveCol [class]="'bg-secondary text-center m-0 p-0'">
                        <svg xmlns=" http://www.w3.org/2000/svg" width="20px" height="20px" fill="white"
                            viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                        </svg>
                    </td>
                    <!-- dropdown cell -->
                    <td #dropdownCol class="bg-secondary">
                        <div class="dropdown">
                            <div class="dropdown-toggle p-0 text-white text-center" data-bs-toggle="dropdown">
                            </div>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item">Link 1</a></li>
                                <li><a class="dropdown-item">Link 2</a></li>
                                <li><a class="dropdown-item">Link 3</a></li>
                            </ul>
                        </div>
                    </td>
                    <!-- checkbox cell -->
                    <td>
                        <app-check-cell [tableRow]="tableRow"></app-check-cell>
                    </td>
                    <!-- page number -->
                    <td>
                        <app-page-number-cell [row]="row"></app-page-number-cell>
                    </td>
                    <!-- story slug -->
                    <td>
                        <app-story-title-cell [row]="row"></app-story-title-cell>
                    </td>
                    <!-- story segment -->
                    <td #segmentCol style="width: min-content; height: min-content">
                        <app-segment-cell [row]="row"></app-segment-cell>
                    </td>
                    <!-- estimated time -->
                    <td #estTimeCol>
                        <app-est-time-cell [row]="row" [rundownRows]="rundownRows" [rundown]="rundown">
                        </app-est-time-cell>
                    </td>
                    <!-- story id -->
                    <td #storyIdCol>{{row.rowStory.storyId}}</td>
                    <!-- graphics -->
                    <td #graphicsCol>{{row.rowStory.storyGraphics}}</td>
                    <!-- front time -->
                    <td #frontCol>
                        {{rundownService.formatFromMilli(rundownService.frontTimes[i])}}
                    </td>
                    <!-- back time -->
                    <td #backCol>
                        {{rundownService.formatFromMilli(rundownService.endTimes[i])}}
                    </td>
                </tr>
            </ng-template>
            <tr class="bg-secondary" style="height: 17px;">
                <td colspan="11"></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
            </tr>
        </tfoot>
    </table>
    <div class="row mx-1">
        <div class="col" [class]="((rundown.rundownEndTime-rundown.rundownStartTime) -
        rundownService.estTimeSum) >= 0 ? 'bg-success' : 'bg-danger'"
            style="color: white; font-weight: bold; height: 27px; text-align: center; border-radius: 0.375rem;">
            {{((rundown.rundownEndTime-rundown.rundownStartTime) -
            rundownService.estTimeSum) > 0 ? "UNDER" : ((rundown.rundownEndTime-rundown.rundownStartTime) -
            rundownService.estTimeSum)==0
            ? "ON TIME" : "OVER" }}
            &nbsp;&nbsp;{{rundownService.formatOverUnderFromMilli((rundown.rundownEndTime-rundown.rundownStartTime) -
            rundownService.estTimeSum)}}
        </div>
    </div>
</div>
<div>
</div>