<div class="container">
    <div class="row mt-2 mb-1">
        <div class="col-sm-9">
            <!-- <h5>5pm News Wed Jul 22 2022</h5> -->
            <h5>{{rundown.rundownTitle}}</h5>
        </div>
        <div class="col-sm-3">
            <app-clock></app-clock>
        </div>
    </div>
    <table class="table table-sm table-striped table-bordered">
        <thead class="bg-primary text-white">
            <tr>
                <th scope="col" style="width: 30px"></th>
                <th scope="col" style="width: 30px">
                    <div class="dropdown dropend">
                        <div class="dropdown-toggle p-0 text-white text-center" data-bs-toggle="dropdown">
                        </div>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item">Link 1</a></li>
                            <li><a class="dropdown-item">Link 2</a></li>
                            <li><a class="dropdown-item">Link 3</a></li>
                        </ul>
                    </div>
                </th>
                <th scope="col" style="width: 30px" [class]="'checked-secondary'">
                    <input #allRowCheck class=" form-check-input" type="checkbox">
                </th>
                <th scope=" col" style="width: 55px">Page</th>
                <th scope="col" style="width: 250px">Slug</th>
                <th scope="col" style="width: 100px">Segment</th>
                <th scope="col" style="width: 75px">Est</th>
                <th scope="col" style="width: 100px">ID</th>
                <th scope="col" style="width: 300px">Graphics</th>
                <th scope="col" style="width: 75px">Front</th>
                <th scope="col" style="width: 75px">Back</th>
            </tr>
        </thead>
        <tbody>
            <ng-template ngFor let-row let-i="index" [ngForOf]="rundownRows">
                <!-- <tr #tableRow [style]="row.rowType==='BREAK' ? 'background-color: #a0cdff;' : ''"> -->
                <tr #tableRow [class]="row.rowType==='BREAK' ? 'bg-primary text-white break-font' : ''">
                    <!-- move icon cell -->
                    <td [class]="'bg-secondary text-center m-0 p-0'">
                        <svg xmlns=" http://www.w3.org/2000/svg" width="20px" height="20px" fill="white"
                            viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                        </svg>
                    </td>
                    <!-- dropdown cell -->
                    <td class="bg-secondary">
                        <div class="dropdown">
                            <div class="dropdown-toggle p-0 text-white text-center" data-bs-toggle="dropdown">
                            </div>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item">Link 1</a></li>
                                <li><a class="dropdown-item">Link 2</a></li>
                                <li><a class="dropdown-item">Link 3</a></li>
                            </ul>
                        </div>
                    </td>
                    <!-- checkbox cell -->
                    <td [class]="'checked-secondary'">
                        <input #rowCheck class=" form-check-input" type="checkbox"
                            (change)="rowCheck.checked ? tableRow.classList.add('bg-info') : tableRow.classList.remove('bg-info')">
                    </td>
                    <!-- page number -->
                    <td>
                        <input appOnEnterKey #pageInput type=" text" [(ngModel)]="row.rowPageNumber"
                            style="width: 100%; background-color: transparent; border: none;"
                            (focus)="pageInput.style.backgroundColor = '#ffefc0'"
                            (blur)="pageInput.style.backgroundColor = 'transparent'">
                    </td>
                    <!-- story slug -->
                    <td>
                        <input #titleDisplay type=" text" [value]="row.rowStory.storyTitle"
                            style="display: block; width: 100%; background-color: transparent; border: none;"
                            [ngStyle]="{'display': titleInput.style.display == 'none' ? 'block' : 'none'}"
                            (focus)="titleDisplay.style.display='none'; titleInput.style.display='block'; titleInput.focus()">

                        <input appOnEnterKey #titleInput type=" text" [(ngModel)]="row.rowStory.storyTitle"
                            style="display: none; width: 100%; background-color: transparent; border: none;"
                            (focus)="titleInput.style.backgroundColor = '#ffefc0'"
                            (blur)="titleInput.style.backgroundColor = 'transparent'"
                            (blur)="row.rowStory.storyTitle=titleInput.value; titleInput.style.display='none'; titleDisplay.style.display='block';"
                            (focus)="row.rowStory.storyTitle" (dblclick)="titleInput.select()">

                        <!-- <input appOnEnterKey #titleInput type=" text" [(ngModel)]="row.rowStory.storyTitle"
                            style="width: 100%; background-color: transparent; border: none;"
                            (focus)="titleInput.style.backgroundColor = '#ffefc0'"
                            (blur)="titleInput.style.backgroundColor = 'transparent'"> -->
                    </td>
                    <!-- story segment -->
                    <td>
                        <input #segmentDisplay type="text" [value]="row.rowSegment"
                            style="display: block; background-color: transparent; border:none; width: 100px;"
                            [ngStyle]="{'display': segmentInput.style.display == 'none' ? 'block' : 'none'}"
                            (focus)="segmentDisplay.style.display='none'; segmentInput.style.display='block'; segmentInput.focus()">
                        <input appOnEnterKey #segmentInput type="text" [(ngModel)]="row.rowSegment"
                            style="display: none; background-color: #ffefc0; border:none; width: 75px;"
                            (blur)="row.rowSegment=segmentDisplay.value; segmentInput.style.display='none'; segmentDisplay.style.display='block';"
                            (focus)=" row.rowSegment" (dblclick)="segmentInput.select()">
                    </td>
                    <!-- estimated time -->
                    <td>
                        <input #estTimeDisplay type="text" [value]="formatFromMilli(row.rowStory.storyEst)"
                            style="display: block; background-color: transparent; border:none; width: 75px;"
                            [ngStyle]="{'display': estTimeInput.style.display == 'none' ? 'block' : 'none'}"
                            (focus)="estTimeDisplay.style.display='none'; estTimeInput.style.display='block'; estTimeInput.focus()">
                        <input appOnEnterKey #estTimeInput type="text" [value]="formatFromMilli(row.rowStory.storyEst)"
                            style="display: none; background-color: #ffefc0; border:none; width: 75px;"
                            (blur)="row.rowStory.storyEst=formatToMilli(estTimeInput.value); estTimeInput.style.display='none'; estTimeDisplay.style.display='block'; estTimeSum = getEstTimeSum(rundownRows)"
                            (focus)="formatFromMilli(row.rowStory.storyEst)" (dblclick)="estTimeInput.select()">
                    </td>
                    <!-- story id -->
                    <td>{{row.rowStory.storyId}}</td>
                    <!-- graphics -->
                    <td>{{row.rowStory.storyGraphics}}</td>
                    <!-- front time -->
                    <td></td>
                    <!-- back time -->
                    <td></td>
                </tr>
            </ng-template>
            <tr class="bg-secondary" style="height: 17px;">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
        <tfoot>
            <tr [class]="((rundown.rundownEndTime-rundown.rundownStartTime) -
            estTimeSum) >= 0 ? 'bg-success' : 'bg-danger'"
                style="color: white; font-weight: bold; height: 27px; text-align: center;">
                <td colspan="11">
                    {{formatOverUnderFromMilli((rundown.rundownEndTime-rundown.rundownStartTime) -
                    estTimeSum)}}</td>
            </tr>
        </tfoot>
    </table>
</div>